
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}


body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 62.5%;
  scroll-padding-top: 80px;
  margin: 80px auto
}

html {
  height: 100%;
}

$base-font: 1.2rem;

p,
a {
  font-size: $base-font
}


h1 {
  font-size: 2.8rem;

}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.2rem;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}


.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
  // transform: scale(0.3);
  // transform-origin: 50% 0%;
}


/*=============================================
=                   Price                   =
=============================================*/

// .price-enter-active,
// .price-leave-active {
//   transition: all 0.4s;
// }
// .price-enter,
// .price-leave-to {
//   opacity: 0;
//   transform: translateX(100%);
// }

/*=============================================
=                   Price                   =
=============================================*/

.item-enter-active,
.item-leave-active {
  transition: all 0.4s;
}
.item-enter,
.item-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}
